/* ########## BUTTON ALIGN ########## */
/** Btn_Form (Sub/Main) **/
.btn_form {padding-top:30px; height: 35px; vertical-align: top;}
.btn_form div.sub  {float: left; height: 35px;}
.btn_form div.main {float: right; height: 35px;}
/** Btn_blank_left/right **/
.btnb_l  {margin-left:10px !important;}
.btnb_r  {margin-right:10px !important;}





/* ########## BUTTON ICON STYLE ########## */
/* btni_more */
.btni_more	       {height:24px; width:24px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_more.gif) no-repeat;}
.btni_more:hover   {height:24px; width:24px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_more-ov.gif) no-repeat;}
.btni_more:active  {height:24px; width:24px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_more-ov.gif) no-repeat;}
/* btni_sns */
.btni_sns	      {height:24px; width:24px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_sns.gif) no-repeat;}
.btni_sns:hover   {height:24px; width:24px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_sns-ov.gif) no-repeat;}
.btni_sns:active  {height:24px; width:24px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_sns-ov.gif) no-repeat;}
/* btni_sns01 */
.btni_sns01	        {height:20px; width:20px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_sns01.gif) no-repeat;}
.btni_sns01:hover   {height:20px; width:20px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_sns01-ov.gif) no-repeat;}
.btni_sns01:active  {height:20px; width:20px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_sns01-ov.gif) no-repeat;}
/* btni_sns_facebook */
.btni_sns_face	       {height:26px; width:26px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_sns_face.gif) no-repeat;}
.btni_sns_face:hover   {height:26px; width:26px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_sns_face-ov.gif) no-repeat;}
.btni_sns_face:active  {height:26px; width:26px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_sns_face-ov.gif) no-repeat;}
/* btni_sns_twitter */
.btni_sns_twit	       {height:26px; width:26px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_sns_twit.gif) no-repeat;}
.btni_sns_twit:hover   {height:26px; width:26px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_sns_twit-ov.gif) no-repeat;}
.btni_sns_twit:active  {height:26px; width:26px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_sns_twit-ov.gif) no-repeat;}
/* btni_sns_mail */
.btni_sns_mail	       {height:26px; width:26px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_sns_mail.gif) no-repeat;}
.btni_sns_mail:hover   {height:26px; width:26px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_sns_mail-ov.gif) no-repeat;}
.btni_sns_mail:active  {height:26px; width:26px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_sns_mail-ov.gif) no-repeat;}
/* btni_sns_kakaotalk */
.btni_sns_kakao	       {height:26px; width:26px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_sns_kakao.gif) no-repeat;}
.btni_sns_kakao:hover  {height:26px; width:26px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_sns_kakao-ov.gif) no-repeat;}
.btni_sns_kakao:active {height:26px; width:26px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_sns_kakao-ov.gif) no-repeat;}
/* btni_good */
.btni_good	      {height:24px; width:24px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_good.gif) no-repeat;}
.btni_good:hover  {height:24px; width:24px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_good-ov.gif) no-repeat;}
.btni_good:active {height:24px; width:24px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_good-ov.gif) no-repeat;}
/* btni_bad */
.btni_bad	      {height:24px; width:24px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_bad.gif) no-repeat;}
.btni_bad:hover   {height:24px; width:24px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_bad-ov.gif) no-repeat;}
.btni_bad:active  {height:24px; width:24px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_bad-ov.gif) no-repeat;}
/* btni_good01 */
.btni_good01	    {height:24px; width:24px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_good01.gif) no-repeat;}
.btni_good01:hover  {height:24px; width:24px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_good01-ov.gif) no-repeat;}
.btni_good01:active {height:24px; width:24px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_good01-ov.gif) no-repeat;}
/* btni_bad01 */
.btni_bad01	        {height:24px; width:24px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_bad01.gif) no-repeat;}
.btni_bad01:hover   {height:24px; width:24px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_bad01-ov.gif) no-repeat;}
.btni_bad01:active  {height:24px; width:24px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_bad01-ov.gif) no-repeat;}
/* btni_good03 */
.btni_good03	    {height:20px; width:20px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_good03.gif) no-repeat;}
.btni_good03:hover  {height:20px; width:20px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_good03-ov.gif) no-repeat;}
.btni_good03:active {height:20px; width:20px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_good03-ov.gif) no-repeat;}
/* btni_bad03 */
.btni_bad03	        {height:20px; width:20px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_bad03.gif) no-repeat;}
.btni_bad03:hover   {height:20px; width:20px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_bad03-ov.gif) no-repeat;}
.btni_bad03:active  {height:20px; width:20px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_bad03-ov.gif) no-repeat;}
/* btni_arrow01_previous */
.btni_arr01_prev	     {height:29px; width:15px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_arr01_prev.gif) no-repeat;}
.btni_arr01_prev:hover   {height:29px; width:15px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_arr01_prev-ov.gif) no-repeat;}
.btni_arr01_prev:active  {height:29px; width:15px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_arr01_prev-ov.gif) no-repeat;}
/* btni_arrow01_next */
.btni_arr01_next	     {height:29px; width:15px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_arr01_next.gif) no-repeat;}
.btni_arr01_next:hover   {height:29px; width:15px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_arr01_next-ov.gif) no-repeat;}
.btni_arr01_next:active  {height:29px; width:15px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_arr01_next-ov.gif) no-repeat;}
/* btni_arrow02_previous */
.btni_arr02_prev	     {height:13px; width:7px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_arr02_prev.gif) no-repeat;}
.btni_arr02_prev:hover   {height:13px; width:7px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_arr02_prev-ov.gif) no-repeat;}
.btni_arr02_prev:active  {height:13px; width:7px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_arr02_prev-ov.gif) no-repeat;}
/* btni_arrow02_next */
.btni_arr02_next	     {height:13px; width:7px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_arr02_next.gif) no-repeat;}
.btni_arr02_next:hover   {height:13px; width:7px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_arr02_next-ov.gif) no-repeat;}
.btni_arr02_next:active  {height:13px; width:7px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_arr02_next-ov.gif) no-repeat;}
/* btni_arrow03_previous */
.btni_arr03_prev	     {height:17px; width:20px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_arr03_prev.gif) no-repeat;}
.btni_arr03_prev:hover   {height:17px; width:20px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_arr03_prev-ov.gif) no-repeat;}
.btni_arr03_prev:active  {height:17px; width:20px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_arr03_prev-ov.gif) no-repeat;}
/* btni_arrow03_next */
.btni_arr03_next	     {height:17px; width:19px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_arr03_next.gif) no-repeat;}
.btni_arr03_next:hover   {height:17px; width:19px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_arr03_next-ov.gif) no-repeat;}
.btni_arr03_next:active  {height:17px; width:19px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_arr03_next-ov.gif) no-repeat;}
/* btni_close01 */
.btni_close01	      {height:40px; width:42px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_close01.gif) no-repeat;}
.btni_close01:hover   {height:40px; width:42px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_close01-ov.gif) no-repeat;}
.btni_close01:active  {height:40px; width:42px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_close01-ov.gif) no-repeat;}
/* btni_close02 */
.btni_close02	      {height:15px; width:16px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_close02.gif) no-repeat;}
.btni_close02:hover   {height:15px; width:16px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_close02-ov.gif) no-repeat;}
.btni_close02:active  {height:15px; width:16px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_close02-ov.gif) no-repeat;}
/* btni_write01 */
.btni_write01	      {height:30px; width:30px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_write01.gif) no-repeat;}
.btni_write01:hover   {height:30px; width:30px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_write01-ov.gif) no-repeat;}
.btni_write01:active  {height:30px; width:30px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_write01-ov.gif) no-repeat;}
/* btni_del01 */
.btni_del01	        {height:30px; width:30px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_del01.gif) no-repeat;}
.btni_del01:hover   {height:30px; width:30px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_del01-ov.gif) no-repeat;}
.btni_del01:active  {height:30px; width:30px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_del01-ov.gif) no-repeat;}
/* btni_del02 */
.btni_del02	        {height:31px; width:31px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_del02.gif) no-repeat;}
.btni_del02:hover   {height:31px; width:31px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_del02-ov.gif) no-repeat;}
.btni_del02:active  {height:31px; width:31px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_del02-ov.gif) no-repeat;}
/* btni_search */
.btni_search	    {height:37px; width:39px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_search.gif) no-repeat;}
.btni_search:hover  {height:37px; width:39px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_search-ov.gif) no-repeat;}
.btni_search:active {height:37px; width:39px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_search-ov.gif) no-repeat;}

/***** PAGING STYLE *****/
/* btni_first */
.btni_first	               {height:38px; width:34px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_first.gif) no-repeat;}
.btni_first:hover          {height:38px; width:34px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_first-ov.gif) no-repeat;}
.btni_first:active         {height:38px; width:34px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_first-ov.gif) no-repeat;}
/* btni_first_inactive */
.btni_first_inact	       {height:38px; width:34px; border:none; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_first_inact.gif) no-repeat;}
.btni_first_inact:hover    {height:38px; width:34px; border:none; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_first_inact.gif) no-repeat;}
.btni_first_inact:active   {height:38px; width:34px; border:none; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_first_inact.gif) no-repeat;}
/* btni_prev */
.btni_prev	               {height:38px; width:34px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_prev.gif) no-repeat;}
.btni_prev:hover           {height:38px; width:34px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_prev-ov.gif) no-repeat;}
.btni_prev:active          {height:38px; width:34px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_prev-ov.gif) no-repeat;}
/* btni_prev_inactive */
.btni_prev_inact	       {height:38px; width:34px; border:none; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_prev_inact.gif) no-repeat;}
.btni_prev_inact:hover     {height:38px; width:34px; border:none; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_prev_inact.gif) no-repeat;}
.btni_prev_inact:active    {height:38px; width:34px; border:none; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_prev_inact.gif) no-repeat;}
/* btni_next */
.btni_next	               {height:38px; width:34px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_next.gif) no-repeat;}
.btni_next:hover           {height:38px; width:34px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_next-ov.gif) no-repeat;}
.btni_next:active          {height:38px; width:34px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_next-ov.gif) no-repeat;}
/* btni_next_inactive */
.btni_next_inact	       {height:38px; width:34px; border:none; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_next_inact.gif) no-repeat;}
.btni_next_inact:hover     {height:38px; width:34px; border:none; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_next_inact.gif) no-repeat;}
.btni_next_inact:active    {height:38px; width:34px; border:none; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_next_inact.gif) no-repeat;}
/* btni_last */
.btni_last	               {height:38px; width:34px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_last.gif) no-repeat;}
.btni_last:hover           {height:38px; width:34px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_last-ov.gif) no-repeat;}
.btni_last:active          {height:38px; width:34px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_last-ov.gif) no-repeat;}
/* btni_last_inactive */
.btni_last_inact	       {height:38px; width:34px; border:none; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_last_inact.gif) no-repeat;}
.btni_last_inact:hover     {height:38px; width:34px; border:none; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_last_inact.gif) no-repeat;}
.btni_last_inact:active    {height:38px; width:34px; border:none; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_last_inact.gif) no-repeat;}
/* btni_top */
.btni_top	              {height:38px; width:34px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_top.gif) no-repeat;}
.btni_top:hover           {height:38px; width:34px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_top-ov.gif) no-repeat;}
.btni_top:active          {height:38px; width:34px; border:none; cursor:pointer; vertical-align:middle; padding:0; margin:0; background:url(../images/button/btni_top-ov.gif) no-repeat;}






/* ########## BUTTON_FOR/DATA_STYLE(기능버튼) ########## */
/* btnd_scrap */
.btnd_scrap	{
	height: 24px;
	line-height: 2.1em;/*ie10 and Safari and Chrome*/
	vertical-align: middle;
	color: #111111;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	letter-spacing: -1px;
	text-align: center;
	padding: 0px 8px 0px 22px;
	margin: 0;
	border-width: 1px;
	border-style: solid;
	border-color: #f4f4f4 #d7d7d7 #d7d7d7 #f1f1f1;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #f4f4f4 url(../images/button/btnd_scrap.gif) repeat-x top left;
	cursor: pointer;
 }
	.ie8    .btnd_scrap {line-height: 2.1em;}
	.ie9    .btnd_scrap {line-height: 2.2em;}
	.ienone .btnd_scrap {line-height: 2.1em;}
.btnd_scrap:hover  {color: #111111; background: #e3e3e3 url(../images/button/btnd_scrap-ov.gif) repeat-x top left; border-width: 1px; border-style: solid; border-color: #e9e9e9 #d7d7d7 #d7d7d7 #e9e9e9;}
.btnd_scrap:active {color: #111111; background: #e3e3e3 url(../images/button/btnd_scrap-ov.gif) repeat-x top left; border-width: 1px; border-style: solid; border-color: #e9e9e9 #d7d7d7 #d7d7d7 #e9e9e9;}
/** btn_data_normal **/
.btnd {
	width:;
	height: 40px;
	line-height: 3.4em;
	vertical-align: middle;	text-align: center;
	text-decoration: none;
	font-size: 12px; font-weight: normal; color: #000000;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
	border-width: 1px; border-style: solid;
	border-color: #dcdcdc #dcdcdc #d4d4d4 #dcdcdc;
	background-color:#dcdcdc;
	margin: 0;
	padding: 0px 15px 0px 15px;
	-webkit-padding-start: 15px; -webkit-padding-end: 15px;
	-moz-padding-start: 12px; -moz-padding-end: 12px;
 }
.btnd:hover	{
	color: #000000;
	border-width: 1px; border-style: solid;
	border-color: #d4d4d4 #d4d4d4 #d4d4d4 #d4d4d4;
	background-color:#d4d4d4;
}
.btnd:active	{
	color: #000000;
	border-width: 1px; border-style: solid;
	border-color: #d4d4d4 #d4d4d4 #d4d4d4 #d4d4d4;
	background-color:#d4d4d4;
}
/** btn_data_style01 **/
.btnd_st01 {
	height: 24px;
	line-height: 2.1em;
	vertical-align: middle;	text-align: center;
	text-decoration: none;
	font-size: 12px; font-weight: normal; color: #000000;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
	border-width: 1px; border-style: solid;
	border-color: #dcdcdc #dcdcdc #d4d4d4 #dcdcdc;
	background-color:#dcdcdc;
	margin: 0;
	padding: 0px 10px 0px 10px;
	-webkit-padding-start: 10px; -webkit-padding-end: 10px;
	-moz-padding-start: 7px; -moz-padding-end: 7px;
 }
.btnd_st01:hover	{
	color: #000000;
	border-width: 1px; border-style: solid;
	border-color: #d4d4d4 #d4d4d4 #d4d4d4 #d4d4d4;
	background-color:#d4d4d4;
}
.btnd_st01:active	{
	color: #000000;
	border-width: 1px; border-style: solid;
	border-color: #d4d4d4 #d4d4d4 #d4d4d4 #d4d4d4;
	background-color:#d4d4d4;
}
/** btn_data_style02 **/
.btnd_st02 {
	height: 24px;
	line-height: 2.1em;
	vertical-align: middle;	text-align: center;
	text-decoration: none;
	font-size: 12px; font-weight: normal; color: #111111;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
	border:1px solid #e7e7e7;
	background-color:#ffffff;
	margin: 0;
	padding: 0px 10px 0px 10px;
	-webkit-padding-start: 10px; -webkit-padding-end: 10px;
	-moz-padding-start: 7px; -moz-padding-end: 7px;
 }
.btnd_st02:hover	{
	color: #111111;
	border:1px solid #e7e7e7;
	background-color:#f4f4f4;
}
.btnd_st02:active	{
	color: #111111;
	border:1px solid #e7e7e7;
	background-color:#f4f4f4;
}





/* ########## BUTTON_MAIN_STYLE ########## */
/* btn_main */
.btnm {
	height: 35px;
	line-height: 3.0em;
	vertical-align: middle;	text-align: center;
	text-decoration: none;
	font-size: 12px; font-weight: bold; color: #ffffff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 1px rgba(221,221,221,1.0);
	-moz-box-shadow: 0 1px 1px rgba(221,221,221,1.0);
	box-shadow: 0 1px 1px rgba(221,221,221,1.0);
	cursor: pointer;
	border-width: 1px; border-style: solid;
	border-color: #ff3399 #ff3399 #ea1680 #ff3399;
	background-color:#ff3399;
	margin: 0px 0px 0px 10px;
	padding: 0px 20px 0px 20px;
	-webkit-padding-start: 20px; -webkit-padding-end: 20px;
	-moz-padding-start: 17px; -moz-padding-end: 17px;
 }
		.ie8    .btnm {}
		.ie9    .btnm {}
		.ienone .btnm {}
.btnm:hover	{
	color: #ffffff;
	border-width: 1px; border-style: solid;
	border-color: #ea1680 #ea1680 #ea1680 #ea1680;
	background-color:#ea1680;
}
.btnm:active	{
	color: #ffffff;
	border-width: 1px; border-style: solid;
	border-color: #ea1680 #ea1680 #ea1680 #ea1680;
	background-color:#ea1680;
}
/* btn_main_cancel */
.btnm_cancel {
	height: 35px;
	line-height: 3.0em;
	vertical-align: middle;	text-align: center;
	text-decoration: none;
	font-size: 12px; font-weight: bold; color: #ffffff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 1px rgba(221,221,221,1.0);
	-moz-box-shadow: 0 1px 1px rgba(221,221,221,1.0);
	box-shadow: 0 1px 1px rgba(221,221,221,1.0);
	cursor: pointer;
	border-width: 1px; border-style: solid;
	border-color: #999999 #999999 #8c8c8c #999999;
	background-color:#999999;
	margin: 0px 0px 0px 10px;
	padding: 0px 20px 0px 20px;
	-webkit-padding-start: 20px; -webkit-padding-end: 20px;
	-moz-padding-start: 17px; -moz-padding-end: 17px;
 }
		.ie8    .btnm_cancel {}
		.ie9    .btnm_cancel {}
		.ienone .btnm_cancel {}
.btnm_cancel:hover	{
	color: #ffffff;
	border-width: 1px; border-style: solid;
	border-color: #8c8c8c #8c8c8c #8c8c8c #8c8c8c;
	background-color:#8c8c8c;
}
.btnm_cancel:active	{
	color: #ffffff;
	border-width: 1px; border-style: solid;
	border-color: #8c8c8c #8c8c8c #8c8c8c #8c8c8c;
	background-color:#8c8c8c;
}
/* btn_main_style01(login) */
.btnm_st01 {
	height: 44px;
	line-height: 3.3em;
	vertical-align: middle;	text-align: center;
	text-decoration: none;
	font-size: 14px; font-weight: bold; color: #ffffff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 1px rgba(221,221,221,1.0);
	-moz-box-shadow: 0 1px 1px rgba(221,221,221,1.0);
	box-shadow: 0 1px 1px rgba(221,221,221,1.0);
	cursor: pointer;
	border-width: 1px; border-style: solid;
	border-color: #ff3399 #ff3399 #ea1680 #ff3399;
	background-color:#ff3399;
	margin: 0;
	padding: 0px 20px 0px 20px;
	-webkit-padding-start: 20px; -webkit-padding-end: 20px;
	-moz-padding-start: 17px; -moz-padding-end: 17px;
 }
		.ie8    .btnm_st01 {}
		.ie9    .btnm_st01 {}
		.ienone .btnm_st01 {}
.btnm_st01:hover	{
	color: #ffffff;
	border-width: 1px; border-style: solid;
	border-color: #ea1680 #ea1680 #ea1680 #ea1680;
	background-color:#ea1680;
}
.btnm_st01:active	{
	color: #ffffff;
	border-width: 1px; border-style: solid;
	border-color: #ea1680 #ea1680 #ea1680 #ea1680;
	background-color:#ea1680;
}





/* ########## BUTTON_SUB_STYLE ########## */
/* btn_sub */
.btns {
	height: 35px;
	line-height: 3.0em;
	vertical-align: middle;	text-align: center;
	text-decoration: none;
	font-size: 12px; font-weight: normal; color: #ffffff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 1px rgba(221,221,221,1.0);
	-moz-box-shadow: 0 1px 1px rgba(221,221,221,1.0);
	box-shadow: 0 1px 1px rgba(221,221,221,1.0);
	cursor: pointer;
	border-width: 1px; border-style: solid;
	border-color: #999999 #999999 #929292 #999999;
	background-color:#999999;
	margin: 0px 10px 0px 0px;
	padding: 0px 20px 0px 20px;
	-webkit-padding-start: 20px; -webkit-padding-end: 20px;
	-moz-padding-start: 17px; -moz-padding-end: 17px;
 }
		.ie8    .btns {}
		.ie9    .btns {}
		.ienone .btns {}
.btns:hover	{
	color: #ffffff;
	border-width: 1px; border-style: solid;
	border-color: #929292 #929292 #929292 #929292;
	background-color:#929292;
}
.btns:active	{
	color: #ffffff;
	border-width: 1px; border-style: solid;
	border-color: #929292 #929292 #929292 #929292;
	background-color:#929292;
}
/* btn_sub_style05 */
.btns_st05 {
	height: 38px;
	line-height: 2.8em;
	vertical-align: middle;	text-align: center;
	text-decoration: none;
	font-size: 14px; font-weight: bold; color: #222222;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 1px rgba(221,221,221,1.0);
	-moz-box-shadow: 0 1px 1px rgba(221,221,221,1.0);
	box-shadow: 0 1px 1px rgba(221,221,221,1.0);
	cursor: pointer;
	border:1px solid #ff3399;
	background:#fefefe url(../images/button/btns_st05.gif) repeat-x top left;
	margin: 0;
	padding: 0px 34px 0px 34px;
	-webkit-padding-before: 0px; -webkit-padding-after: 0px;
	-webkit-padding-start: 34px; -webkit-padding-end: 34px;
	-moz-padding-before: 0px; -moz-padding-after: 0px;
	-moz-padding-start: 31px; -moz-padding-end: 31px;/*-3px*/
 }
		.ie8    .btns_st05 {line-height: 2.7em;}
		.ie9    .btns_st05 {}
		.ienone .btns_st05 {}
.btns_st05:hover	{
	color: #000000;
	border:1px solid #ff3399;
	background:#f4f4f4 url(../images/button/btns_st05-ov.gif) repeat-x top left;
}
.btns_st05:active	{
	color: #000000;
	border:1px solid #ff3399;
	background:#fafafa url(../images/button/btns_st05-ov.gif) repeat-x top left;
}
/* btn_sub_style06 */
.btns_st06 {
	width: 45px;
	height: 21px;
	line-height: 1.8em;
	vertical-align: middle;	text-align: center;
	text-decoration: none;
	font-size: 12px; font-weight: bold; color: #ffffff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	cursor: pointer;
	border-width: 1px; border-style: solid;
	border-color: #ff3399 #ff3399 #f01f88 #ff3399;
	background-color:#ff3399;
	margin: 0;
	padding: 1px 0px 0px 0px;
	-webkit-padding-before: 0px; -webkit-padding-after: 0px;
	-webkit-padding-start: 0px; -webkit-padding-end: 0px;
	-moz-padding-before: 0px; -moz-padding-after: 0px;
	-moz-padding-start: 0px; -moz-padding-end: 0px;
 }
		.ie8    .btns_st06 {line-height: 1.7em;}
		.ie9    .btns_st06 {}
		.ienone .btns_st06 {}
.btns_st06:hover	{
	color: #ffffff;
	border-width: 1px; border-style: solid;
	border-color: #f01f88 #f01f88 #f01f88 #f01f88;
	background-color:#f01f88;
}
.btns_st06:active	{
	color: #ffffff;
	border-width: 1px; border-style: solid;
	border-color: #f01f88 #f01f88 #f01f88 #f01f88;
	background-color:#f01f88;
}
/* btn_sub_style06_cancel */
.btns_st06_cancel {
	width: 45px;
	height: 21px;
	line-height: 1.8em;
	vertical-align: middle;	text-align: center;
	text-decoration: none;
	font-size: 12px; font-weight: normal; color: #000000;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	cursor: pointer;
	border-width: 1px; border-style: solid;
	border-color: #dcdcdc #dcdcdc #d6d6d6 #dcdcdc;
	background-color:#dcdcdc;
	margin: 0;
	padding: 1px 0px 0px 0px;
	-webkit-padding-before: 0px; -webkit-padding-after: 0px;
	-webkit-padding-start: 0px; -webkit-padding-end: 0px;
	-moz-padding-before: 0px; -moz-padding-after: 0px;
	-moz-padding-start: 0px; -moz-padding-end: 0px;
 }
		.ie8    .btns_st06_cancel {line-height: 1.7em;}
		.ie9    .btns_st06_cancel {}
		.ienone .btns_st06_cancel {}
.btns_st06_cancel:hover	{
	color: #000000;
	border-width: 1px; border-style: solid;
	border-color: #d6d6d6 #d6d6d6 #d6d6d6 #d6d6d6;
	background-color:#d6d6d6;
}
.btns_st06_cancel:active	{
	color: #000000;
	border-width: 1px; border-style: solid;
	border-color: #d6d6d6 #d6d6d6 #d6d6d6 #d6d6d6;
	background-color:#d6d6d6;
}
