<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="lacool.customer.mapper.CustomerMapper">
	
	<select id="list" parameterType="lacool.customer.vo.CustomerVo" resultType="lacool.customer.vo.CustomerVo">
		<![CDATA[	
			SELECT A.NOTI_SEQ  
			    , A.NOTI_ID
				, A.BOARD_ID
				, A.CATE_ID
				, A.UP_NOTI_ID
				, A.NOTI_KIND
				, A.NOTI_TITLE
				, A.NOTI_CONTS
				, A.NOTI_URL
				, A.NOTI_OPN_DIV
				, A.FB_REG_YN
				, A.DEL_YN
				, A.STAT_CD
				, A.USER_NM
				, A.NOTI_READ_CNT
				, A.NOTI_OK_CNT
				, A.NOTI_NG_CNT
				, A.WRITE_IP
				, A.NOTI_BGN_DTTM
				, A.NOTI_END_DTTM
				, A.SCRAP_CNT
				, A.NOTI_OPN_CNT
				, A.REG_ID
				, CAST( DATE_FORMAT( A.REG_DTTM,'%Y-%m-%d %T' ) AS CHAR(19) ) REG_DTTM 
				, A.UPD_ID
				, A.UPD_DTTM
				, A.REF
				, A.RESTEP
				, A.RELEVEL
				, A.ALARM_YN
				, A.PRVT_YN
			FROM NOTI_INFO A
			WHERE A.DEL_YN = 'N'
			AND   A.BOARD_ID = #{boardId}
		]]>
			<if test="searchKeyword == 'TITLE' and searchValue != '' and searchValue != null">
			AND   	A.NOTI_TITLE LIKE CONCAT('%', #{searchValue} , '%')
			</if>
			<if test="searchKeyword == 'CONTENT' and searchValue != '' and searchValue != null">
			AND   	A.NOTI_CONTS LIKE CONCAT('%', #{searchValue} , '%')
			</if>		
			<if test="searchKeyword == 'NAME' and searchValue != '' and searchValue != null">
			AND   	A.USER_NM LIKE CONCAT('%', #{searchValue} , '%')
			</if>		
			ORDER BY A.ALARM_YN DESC, A.REF DESC, A.RESTEP ASC
			LIMIT #{fromLimit}, #{toLimit}
	</select>
	
	<select id="listCnt" parameterType="lacool.customer.vo.CustomerVo" resultType="int">
		<![CDATA[	
			SELECT  COUNT(A.NOTI_ID) CNT
			FROM NOTI_INFO A
			WHERE A.DEL_YN = 'N'
			AND   A.BOARD_ID = #{boardId}
		]]>
			<if test="searchKeyword == 'TITLE' and searchValue != '' and searchValue != null">
			AND   	A.NOTI_TITLE LIKE CONCAT('%', #{searchValue} , '%')
			</if>
			<if test="searchKeyword == 'CONTENT' and searchValue != '' and searchValue != null">
			AND   	A.NOTI_CONTS LIKE CONCAT('%', #{searchValue} , '%')
			</if>	
			<if test="searchKeyword == 'NAME' and searchValue != '' and searchValue != null">
			AND   	A.USER_NM LIKE CONCAT('%', #{searchValue} , '%')
			</if>					
	</select>
	
	<select id="getMaxRef"  parameterType="lacool.customer.vo.CustomerVo" resultType="String">
		SELECT IFNULL(MAX(REF),0)+1 FROM NOTI_INFO WHERE BOARD_ID = #{boardId}
	</select>
	
	<select id="getNotiSeq" parameterType="lacool.customer.vo.CustomerVo" resultType="String" >
		    <![CDATA[
			SELECT IFNULL(MAX(NOTI_SEQ),0)+1 NOTI_SEQ
			FROM NOTI_INFO
			WHERE BOARD_ID = #{boardId}
			]]>
	</select>	
	
	<insert id="insert" parameterType="lacool.customer.vo.CustomerVo">
		<selectKey keyProperty="notiId" resultType="String" order="BEFORE" >
		 SELECT CONCAT('C' , LPAD(CAST(REPLACE(IFNULL(MAX(NOTI_ID),0), 'C','') AS UNSIGNED) + 1, 8, '0')) AS notiId FROM NOTI_INFO
	     WHERE NOTI_ID LIKE 'C%'	    
	    </selectKey>
	  
		<![CDATA[
		INSERT INTO NOTI_INFO(
		  NOTI_ID
		, BOARD_ID
		, NOTI_SEQ
		, CATE_ID
		, UP_NOTI_ID
		, NOTI_KIND
		, NOTI_TITLE
		, NOTI_CONTS
		, NOTI_URL
		, NOTI_OPN_DIV
		, FB_REG_YN
		, DEL_YN
		, STAT_CD
		, USER_ID
		, USER_NM
		, NOTI_READ_CNT
		, NOTI_OK_CNT
		, NOTI_NG_CNT
		, WRITE_IP
		, NOTI_BGN_DTTM
		, NOTI_END_DTTM
		, SCRAP_CNT
		, NOTI_OPN_CNT
		, PRVT_YN
		, ALARM_YN
		, REG_ID
		, REG_DTTM
		, UPD_ID
		, UPD_DTTM
		, REF
		, RESTEP
		, RELEVEL
		)VALUES (
		  #{notiId}
		, #{boardId}
		, #{notiSeq}
		, #{cateId}
		, #{upNotiId}
		, #{notiKind}
		, #{notiTitle}
		, #{notiConts}
		, #{notiUrl}
		, #{notiOpnDiv}
		, #{fbRegYn}
		, #{delYn}
		, #{statCd}
		, #{userId}
		, #{userNm}
		, #{notiReadCnt}
		, #{notiOkCnt}
		, #{notiNgCnt}
		, #{writeIp}
		, NOW()
		, CAST( '9999-12-31 23:59:59' AS DATETIME )
		, #{scrapCnt}
		, #{notiOpnCnt}
		, #{prvtYn}
		, #{alarmYn}
		, #{regId}
		, NOW()
		, #{updId}
		, NOW()
		, #{ref}
		, #{restep}
		, #{relevel}	
		)
		]]>
	</insert>
	
	<update id="update" parameterType="lacool.customer.vo.CustomerVo">
		<![CDATA[
		UPDATE NOTI_INFO
		SET NOTI_TITLE = #{notiTitle},
			NOTI_CONTS = #{notiConts},
			PRVT_YN = #{prvtYn},
			UPD_ID = #{updId},
			UPD_DTTM = NOW()
		WHERE NOTI_ID = #{notoId}
		AND REG_ID = #{userId}
		AND DEL_YN = 'N'
		]]>
	</update>
		
	<insert id="insertNotiApndFile" parameterType="lacool.contents.vo.NotiApndFileVo">
		<selectKey keyProperty="apndFileSeq" resultType="String" order="BEFORE" >
		  SELECT IFNULL(MAX(APND_FILE_SEQ),0)+1 AS apndFileSeq FROM NOTI_APND_FILE	     	    
	    </selectKey>
	    <![CDATA[
			INSERT INTO NOTI_APND_FILE(
			 NOTI_ID
			, APND_FILE_SEQ
			, APND_FILE_TP
			, APND_FILE_SZ
			, APND_FILE_ORGN
			, APND_FILE_NM
			, APND_FILE_PATH
			, APND_FILE_PRE_PATH
			, APND_FILE_PRE_NM
			, DEL_YN
			, REG_ID
			, REG_DTTM
			, UPD_ID
			, UPD_DTTM
			) VALUES (
			 #{notiId}
			, #{apndFileSeq}
			, #{apndFileTp}
			, #{apndFileSz}
			, #{apndFileOrgn}
			, #{apndFileNm}
			, #{apndFilePath}
			, #{apndFilePrePath}
			, #{apndFilePreNm}
			, #{delYn}
			, #{regId}
			, NOW()
			, #{updId}
			, NOW()
			)
		]]>
	</insert>	
	
	<select id="read" parameterType="lacool.customer.vo.CustomerVo" resultType="lacool.customer.vo.CustomerVo">
		<![CDATA[	
			SELECT A.NOTI_ID
				, A.BOARD_ID
				, A.NOTI_SEQ
				, A.CATE_ID
				, A.UP_NOTI_ID
				, A.NOTI_KIND
				, A.NOTI_TITLE
				, A.NOTI_CONTS
				, A.NOTI_URL
				, A.NOTI_OPN_DIV
				, A.FB_REG_YN
				, A.DEL_YN
				, A.STAT_CD
				, A.USER_NM
				, A.NOTI_READ_CNT
				, A.NOTI_OK_CNT
				, A.NOTI_NG_CNT
				, A.WRITE_IP
				, A.NOTI_BGN_DTTM
				, A.NOTI_END_DTTM
				, A.SCRAP_CNT
				, A.NOTI_OPN_CNT
				, A.REG_ID
				, CAST( DATE_FORMAT( A.REG_DTTM,'%Y-%m-%d %T' ) AS CHAR(19) ) REG_DTTM 
				, A.UPD_ID
				, A.UPD_DTTM
				, A.REF
				, A.RESTEP
				, A.RELEVEL
				, A.ALARM_YN
				, A.PRVT_YN
				, B.APND_FILE_SEQ
				, B.APND_FILE_ORGN
				, B.APND_FILE_NM
				, B.APND_FILE_PATH
				, B.APND_FILE_SZ
			FROM NOTI_INFO A LEFT OUTER JOIN NOTI_APND_FILE B
			     ON A.NOTI_ID = B.NOTI_ID AND B.APND_FILE_SEQ = (SELECT MIN(APND_FILE_SEQ) FROM NOTI_APND_FILE WHERE NOTI_ID = A.NOTI_ID)
			WHERE A.DEL_YN = 'N'
			AND   A.BOARD_ID = #{boardId}
			AND   A.NOTI_ID = #{notiId}
		]]>
	</select>		
		
	
	<select id="readPrev" parameterType="lacool.customer.vo.CustomerVo" resultType="lacool.customer.vo.CustomerVo">
		<![CDATA[	
			SELECT A.NOTI_ID
				, A.BOARD_ID
				, A.NOTI_SEQ
				, A.CATE_ID
				, A.UP_NOTI_ID
				, A.NOTI_KIND
				, A.NOTI_TITLE
				, A.NOTI_CONTS
				, A.NOTI_URL
				, A.NOTI_OPN_DIV
				, A.FB_REG_YN
				, A.DEL_YN
				, A.STAT_CD
				, A.USER_NM
				, A.NOTI_READ_CNT
				, A.NOTI_OK_CNT
				, A.NOTI_NG_CNT
				, A.WRITE_IP
				, A.NOTI_BGN_DTTM
				, A.NOTI_END_DTTM
				, A.SCRAP_CNT
				, A.NOTI_OPN_CNT
				, A.REG_ID
				, CAST( DATE_FORMAT( A.REG_DTTM,'%Y-%m-%d %T' ) AS CHAR(19) ) REG_DTTM 
				, A.UPD_ID
				, A.UPD_DTTM
				, A.REF
				, A.RESTEP
				, A.RELEVEL
				, A.ALARM_YN
				, A.PRVT_YN
			FROM NOTI_INFO A
			WHERE A.DEL_YN = 'N'
			AND   A.BOARD_ID = #{boardId}
			AND   A.NOTI_SEQ < #{notiSeq}
			ORDER BY A.NOTI_SEQ DESC
			LIMIT 1
		]]>
	</select>		
	
	<select id="readNext" parameterType="lacool.customer.vo.CustomerVo" resultType="lacool.customer.vo.CustomerVo">
		<![CDATA[	
			SELECT A.NOTI_ID
				, A.BOARD_ID
				, A.NOTI_SEQ
				, A.CATE_ID
				, A.UP_NOTI_ID
				, A.NOTI_KIND
				, A.NOTI_TITLE
				, A.NOTI_CONTS
				, A.NOTI_URL
				, A.NOTI_OPN_DIV
				, A.FB_REG_YN
				, A.DEL_YN
				, A.STAT_CD
				, A.USER_NM
				, A.NOTI_READ_CNT
				, A.NOTI_OK_CNT
				, A.NOTI_NG_CNT
				, A.WRITE_IP
				, A.NOTI_BGN_DTTM
				, A.NOTI_END_DTTM
				, A.SCRAP_CNT
				, A.NOTI_OPN_CNT
				, A.REG_ID
				, CAST( DATE_FORMAT( A.REG_DTTM,'%Y-%m-%d %T' ) AS CHAR(19) ) REG_DTTM 
				, A.UPD_ID
				, A.UPD_DTTM
				, A.REF
				, A.RESTEP
				, A.RELEVEL
				, A.ALARM_YN
				, A.PRVT_YN
			FROM NOTI_INFO A
			WHERE A.DEL_YN = 'N'
			AND   A.BOARD_ID = #{boardId}
			AND   A.NOTI_SEQ > #{notiSeq}
			ORDER BY A.NOTI_SEQ ASC
			LIMIT 1
		]]>
	</select>		
	
	
	<select id="getNotiApndFile" parameterType="lacool.contents.vo.NotiApndFileVo" resultType="lacool.contents.vo.NotiApndFileVo">
		<![CDATA[	
			SELECT A.APND_FILE_SEQ
				 , A.APND_FILE_ORGN
				 , A.APND_FILE_NM
				 , A.APND_FILE_PATH
			FROM NOTI_APND_FILE A
			WHERE A.NOTI_ID = #{notiId}
			AND   A.APND_FILE_SEQ = #{apndFileSeq}
		]]>
	</select>		
	
	<delete id="delete" parameterType="lacool.customer.vo.CustomerVo">
	    <![CDATA[
	    	DELETE FROM NOTI_INFO
	    	WHERE NOTI_ID = #{notiId}
	    	AND   REG_ID = #{regId}
		]]>
	</delete>	
	
</mapper>