<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="lacool.contents.mapper.ContentsMapper">

	<insert id="insertBoardInfo" parameterType="lacool.contents.vo.BoardInfoVo">
		<selectKey keyProperty="boardId" resultType="String" order="BEFORE" >
		 SELECT CONCAT('LALALA' , LPAD(CAST(REPLACE(IFNULL(MAX(BOARD_ID),0), 'LALALA','') AS UNSIGNED) + 1, 3, '0')) AS boardId FROM BOARD_INFO
	     WHERE BOARD_ID LIKE 'LALALA%'	     
	    </selectKey>
	  
		<![CDATA[
		INSERT INTO BOARD_INFO(
					 BOARD_ID
					, BOARD_FORM
					, DEL_YN
					, REG_ID
					, REG_DTTM
					, UPD_ID
					, UPD_DTTM
					) VALUES (
					 #{boardId}
					, #{boardForm}
					, #{delYn}
					, #{regId}
					, NOW()
					, #{updId}
					, NOW()
					)
		]]>
	</insert>

	<insert id="insertNotiInfo" parameterType="lacool.contents.vo.NotiInfoVo">
		<selectKey keyProperty="notiId" resultType="String" order="BEFORE" >
		 SELECT CONCAT('S' , LPAD(CAST(REPLACE(IFNULL(MAX(NOTI_ID),0), 'S','') AS UNSIGNED) + 1, 8, '0')) AS notiId FROM NOTI_INFO
	     WHERE NOTI_ID LIKE 'S%'	    
	    </selectKey>
	  
		<![CDATA[
		INSERT INTO NOTI_INFO(
		  NOTI_ID
		, BOARD_ID
		, CATE_ID
		, UP_NOTI_ID
		, NOTI_KIND
		, NOTI_TITLE
		, NOTI_CONTS
		, NOTI_URL
		, NOTI_OPN_DIV
		, FB_REG_YN
		, DEL_YN
		, STAT_CD
		, USER_ID
		, USER_NM
		, NOTI_READ_CNT
		, NOTI_OK_CNT
		, NOTI_NG_CNT
		, WRITE_IP
		, NOTI_BGN_DTTM
		, NOTI_END_DTTM
		, SCRAP_CNT
		, NOTI_OPN_CNT
		, REG_ID
		, REG_DTTM
		, UPD_ID
		, UPD_DTTM
		, REF
		, RESTEP
		, RELEVEL
		)VALUES (
		  #{notiId}
		, #{boardId}
		, #{cateId}
		, #{upNotiId}
		, #{notiKind}
		, #{notiTitle}
		, #{notiConts}
		, #{notiUrl}
		, #{notiOpnDiv}
		, #{fbRegYn}
		, #{delYn}
		, #{statCd}
		, #{userId}
		, #{userNm}
		, #{notiReadCnt}
		, #{notiOkCnt}
		, #{notiNgCnt}
		, #{writeIp}
		, NOW()
		, CAST( '9999-12-31 23:59:59' AS DATETIME )
		, #{scrapCnt}
		, #{notiOpnCnt}
		, #{regId}
		, NOW()
		, #{updId}
		, NOW()
		, #{ref}
		, #{restep}
		, #{relevel}	
		)
		]]>
	</insert>
	
	<insert id="insertNotiApndFile" parameterType="lacool.contents.vo.NotiApndFileVo">
		<selectKey keyProperty="apndFileSeq" resultType="String" order="BEFORE" >
		  SELECT IFNULL(MAX(APND_FILE_SEQ),0)+1 AS apndFileSeq FROM NOTI_APND_FILE	     	    
	    </selectKey>
	    <![CDATA[
			INSERT INTO NOTI_APND_FILE(
			 NOTI_ID
			, APND_FILE_SEQ
			, APND_FILE_TP
			, APND_FILE_SZ
			, APND_FILE_ORGN
			, APND_FILE_NM
			, APND_FILE_PATH
			, APND_FILE_PRE_PATH
			, APND_FILE_PRE_NM
			, DEL_YN
			, REG_ID
			, REG_DTTM
			, UPD_ID
			, UPD_DTTM
			) VALUES (
			 #{notiId}
			, #{apndFileSeq}
			, #{apndFileTp}
			, #{apndFileSz}
			, #{apndFileOrgn}
			, #{apndFileNm}
			, #{apndFilePath}
			, #{apndFilePrePath}
			, #{apndFilePreNm}
			, #{delYn}
			, #{regId}
			, NOW()
			, #{updId}
			, NOW()
			)
		]]>
	
	</insert>

	<select id="getContensDetail" parameterType="lacool.contents.vo.NotiInfoVo" resultType="lacool.contents.vo.NotiInfoVo">
		<![CDATA[	
			SELECT  A.NOTI_ID
				, A.BOARD_ID
				, A.CATE_ID
				, A.UP_NOTI_ID
				, A.NOTI_KIND
				, A.NOTI_TITLE
				, A.NOTI_CONTS
				, A.NOTI_URL
				, A.NOTI_OPN_DIV
				, A.FB_REG_YN
				, A.DEL_YN
				, A.STAT_CD
				, B.USER_ID
				, B.USER_NM
				, A.NOTI_READ_CNT
				, A.NOTI_OK_CNT
				, A.NOTI_NG_CNT
				, A.WRITE_IP
				, A.NOTI_BGN_DTTM
				, A.NOTI_END_DTTM
				, A.SCRAP_CNT
				, A.NOTI_OPN_CNT
				, A.REG_ID
				, A.REG_DTTM
				, A.UPD_ID
				, A.UPD_DTTM
				, A.REF
				, A.RESTEP
				, A.RELEVEL
				, B.USER_FILE_NM
				, B.USER_FILE_PATH
			FROM NOTI_INFO A,
			     PSN_USER B
			WHERE A.NOTI_ID = #{notiId}
			AND   A.REG_ID = B.USER_ID
			AND   A.DEL_YN = 'N'
			AND   A.BOARD_ID = 'LALALA001'
		]]>
			<if test="userId != null and userId != ''"> 
				AND B.USER_ID = #{userId}
			</if>			
	</select>
	
	<select id="getContentsFile" parameterType="lacool.contents.vo.NotiInfoVo" resultType="lacool.contents.vo.NotiApndFileVo">
		<![CDATA[	
			SELECT  NOTI_ID
					, APND_FILE_SEQ
					, APND_FILE_TP
					, APND_FILE_SZ
					, APND_FILE_ORGN
					, APND_FILE_NM
					, APND_FILE_PATH
					, APND_FILE_PRE_PATH
					, APND_FILE_PRE_NM
					, DEL_YN
					, REG_ID
					, REG_DTTM
					, UPD_ID
					, UPD_DTTM
			FROM NOTI_APND_FILE
			WHERE NOTI_ID = #{notiId}
			ORDER BY APND_FILE_SEQ
		]]>
	</select>
		

	<insert id="insertScrap" parameterType="lacool.contents.vo.UserScrapInfoVo">
	    <![CDATA[
			INSERT INTO USER_SCRAP_INFO(
			 USER_ID
			, NOTI_ID
			, REG_ID
			, REG_DTTM
			, UPD_ID
			, UPD_DTTM
			) VALUES (
			 #{userId}
			, #{notiId}
			, #{regId}
			, NOW()
			, #{updId}
			, NOW()
			)
		]]>
	</insert>
	
	<select id="getScrapInfo" parameterType="lacool.contents.vo.UserScrapInfoVo" resultType="lacool.contents.vo.UserScrapInfoVo">
		<![CDATA[	
			SELECT  A.NOTI_ID
			      , B.USER_FILE_NM
			      , B.USER_FILE_PATH
			FROM USER_SCRAP_INFO A
			    ,PSN_USER B
			WHERE A.USER_ID = #{userId}
			AND A.USER_ID = B.USER_ID
		]]>
	</select>	
	
	<select id="getScrapCnt" parameterType="lacool.contents.vo.UserScrapInfoVo" resultType="int">
		<![CDATA[	
			SELECT  COUNT(NOTI_ID)
			FROM USER_SCRAP_INFO
			WHERE USER_ID = #{userId}
		]]>
	</select>	
	
	<select id="getNotiEvalInfo" parameterType="lacool.contents.vo.NotiEvalInfoVo" resultType="lacool.contents.vo.NotiEvalInfoVo">
		<![CDATA[	
			SELECT  A.NOTI_ID
			FROM NOTI_EVAL_INFO A
			WHERE A.USER_ID = #{userId}
			AND A.NOTI_ID = #{notiId}
			AND A.NOTI_EVAL_DIV = #{notiEvalDiv}
		]]>
	</select>
	
	<insert id="insertNotiEval" parameterType="lacool.contents.vo.NotiEvalInfoVo">
	    <![CDATA[
			INSERT INTO NOTI_EVAL_INFO(
			  NOTI_ID
			, NOTI_EVAL_DIV
			, USER_ID
			, USER_NM
			, DEL_YN
			, REG_ID
			, REG_DTTM
			, UPD_ID
			, UPD_DTTM
			) VALUES (
			 #{notiId}
			, #{notiEvalDiv}
			, #{userId}
			, #{userNm}
			, 'N'
			, #{regId}
			, NOW()
			, #{updId}
			, NOW()
			)
		]]>
	</insert>
	
	<update id="updateNotiEvalOk" parameterType="lacool.contents.vo.NotiEvalInfoVo">
	    <![CDATA[
			UPDATE NOTI_INFO
			SET NOTI_OK_CNT = NOTI_OK_CNT + 1
			WHERE NOTI_ID = #{notiId}
			AND DEL_YN = 'N'
		]]>
	</update>	
	
	<update id="updateNotiEvalNg" parameterType="lacool.contents.vo.NotiEvalInfoVo">
	    <![CDATA[
			UPDATE NOTI_INFO
			SET NOTI_NG_CNT = NOTI_NG_CNT + 1
			WHERE NOTI_ID = #{notiId}
			AND DEL_YN = 'N'
		]]>
	</update>	
	
	<update id="updateScrapCnt" parameterType="lacool.contents.vo.UserScrapInfoVo">
	    <![CDATA[
			UPDATE NOTI_INFO
			SET SCRAP_CNT = SCRAP_CNT + 1
			WHERE NOTI_ID = #{notiId}
			AND DEL_YN = 'N'
		]]>
	</update>	
	
	<update id="updateReadCnt" parameterType="lacool.contents.vo.NotiEvalInfoVo">
	    <![CDATA[
			UPDATE NOTI_INFO
			SET NOTI_READ_CNT = NOTI_READ_CNT + 1
			WHERE NOTI_ID = #{notiId}
			AND REG_ID != #{userId}
			AND DEL_YN = 'N'
		]]>
	</update>	
	
	<select id="getNotiEvalOfCate" parameterType="lacool.contents.vo.NotiInfoVo" resultType="lacool.contents.vo.NotiApndFileVo">
		<![CDATA[	
		SELECT C.NOTI_ID
		      ,A.APND_FILE_SEQ
		      ,A.APND_FILE_ORGN
		      ,A.APND_FILE_NM
		      ,A.APND_FILE_PATH
		      ,C.NOTI_TITLE
		FROM NOTI_APND_FILE A,
			 NOTI_INFO C
		WHERE A.NOTI_ID = C.NOTI_ID
		AND C.CATE_ID = #{cateId}
		AND C.DEL_YN = 'N'
		AND C.BOARD_ID = 'LALALA001'
		AND A.APND_FILE_SEQ = (SELECT MIN(APND_FILE_SEQ) FROM NOTI_APND_FILE WHERE NOTI_ID = A.NOTI_ID)
		ORDER BY NOTI_OK_CNT DESC
		LIMIT 6
		]]>
	</select>	
	
	<insert id="insertOpn" parameterType="lacool.contents.vo.NotiOpnVo">
		<selectKey keyProperty="notiOpnSeq" resultType="String" order="BEFORE" >
		  SELECT IFNULL(MAX(NOTI_OPN_SEQ),0)+1 AS notiOpnSeq FROM NOTI_OPN	     	    
	    </selectKey>
	    	
	    <![CDATA[
			INSERT INTO NOTI_OPN(
			  NOTI_OPN_SEQ
			, NOTI_ID
			, UP_NOTI_OPN_SEQ
			, OPN_CONTS
			, USER_ID
			, USER_NM
			, WRITE_IP
			, REF
			, RELEVEL
			, RESTEP
			, DEL_YN
			, REG_ID
			, REG_DTTM
			, UPD_ID
			, UPD_DTTM
			) VALUES (
			 #{notiOpnSeq}
			, #{notiId}
			, #{upNotiOpnSeq}
			, #{opnConts}
			, #{userId}
			, #{userNm}
			, #{writeIp}
			, #{notiOpnSeq} /* no ref */
			, #{relevel}
			, #{restep}
			, 'N'
			, #{regId}
			, NOW()
			, #{updId}
			, NOW()
			)
		]]>
	</insert>	
	
	<select id="getNotiOpn" parameterType="lacool.contents.vo.NotiOpnVo" resultType="lacool.contents.vo.NotiOpnVo">
		<![CDATA[	
		SELECT  NOTI_OPN_SEQ
			, NOTI_ID
			, UP_NOTI_OPN_SEQ
			, OPN_CONTS
			, USER_ID
			, USER_NM
			, WRITE_IP
			, REF
			, RELEVEL
			, RESTEP
			, DEL_YN
			, REG_ID
			, REG_DTTM
			, UPD_ID
			, UPD_DTTM
		FROM NOTI_OPN 
		WHERE NOTI_ID = #{notiId}
		AND NOTI_OPN_SEQ = #{notiOpnSeq}
		AND DEL_YN = 'N'
		]]>
	</select>
	
	<select id="listNotiOpn" parameterType="lacool.contents.vo.NotiOpnVo" resultType="lacool.contents.vo.NotiOpnVo">
		<![CDATA[	
		SELECT A.NOTI_ID
			   ,A.NOTI_OPN_SEQ
			   ,A.UP_NOTI_OPN_SEQ
			   ,A.OPN_CONTS
			   ,A.USER_ID
			   ,A.USER_NM
			   ,A.REF
			   ,A.RELEVEL
			   ,A.RESTEP
			   ,CAST( DATE_FORMAT( A.UPD_DTTM,'%Y-%m-%d %T' ) AS CHAR(19) ) UPD_DTTM
			   ,B.USER_FILE_NM
			   ,B.USER_FILE_PATH 
		FROM NOTI_OPN A
		    ,PSN_USER B
		WHERE A.NOTI_ID = #{notiId}
		AND A.DEL_YN = 'N'
		AND A.USER_ID = B.USER_ID
		ORDER BY A.REF DESC, A.RESTEP ASC
		LIMIT #{toLimit}
		]]>
	</select>	
	
	<update id="updateForReplyNotiOpn" parameterType="lacool.contents.vo.NotiOpnVo">
	    <![CDATA[
			UPDATE NOTI_OPN
			SET RESTEP = RESTEP + 1
			WHERE NOTI_ID = #{notiId}
			AND   NOTI_OPN_SEQ = #{notiOpnSeq}
			AND   DEL_YN = 'N'
			AND   REF = #{ref}
			AND   RESTEP > #{restep}
		]]>
	</update>	
	
	<insert id="insertOpnForReply" parameterType="lacool.contents.vo.NotiOpnVo">
		<selectKey keyProperty="notiOpnSeq" resultType="String" order="BEFORE" >
		  SELECT IFNULL(MAX(NOTI_OPN_SEQ),0)+1 AS notiOpnSeq FROM NOTI_OPN	     	    
	    </selectKey>
	    	
	    <![CDATA[
			INSERT INTO NOTI_OPN(
			  NOTI_OPN_SEQ
			, NOTI_ID
			, UP_NOTI_OPN_SEQ
			, OPN_CONTS
			, USER_ID
			, USER_NM
			, WRITE_IP
			, REF
			, RELEVEL
			, RESTEP
			, DEL_YN
			, REG_ID
			, REG_DTTM
			, UPD_ID
			, UPD_DTTM
			) VALUES (
			 #{notiOpnSeq}
			, #{notiId}
			, #{upNotiOpnSeq}
			, #{opnConts}
			, #{userId}
			, #{userNm}
			, #{writeIp}
			, #{ref}
			, #{relevel}
			, #{restep}
			, 'N'
			, #{regId}
			, NOW()
			, #{updId}
			, NOW()
			)
		]]>
	</insert>	
	
	<select id="listUserHistory" parameterType="lacool.contents.vo.NotiInfoVo" resultType="lacool.contents.vo.NotiInfoVo">
		<![CDATA[	
			SELECT  A.NOTI_ID
				, A.BOARD_ID
				, A.CATE_ID
				, A.UP_NOTI_ID
				, A.NOTI_KIND
				, A.NOTI_TITLE
				, A.NOTI_CONTS
				, A.NOTI_URL
				, A.NOTI_OPN_DIV
				, A.FB_REG_YN
				, A.DEL_YN
				, A.STAT_CD
				, A.NOTI_READ_CNT
				, A.NOTI_OK_CNT
				, A.NOTI_NG_CNT
				, A.WRITE_IP
				, A.NOTI_BGN_DTTM
				, A.NOTI_END_DTTM
				, A.SCRAP_CNT
				, A.NOTI_OPN_CNT
				, A.REG_ID
				, CAST( DATE_FORMAT( A.REG_DTTM,'%Y-%m-%d %T' ) AS CHAR(19) ) REG_DTTM 
				, A.UPD_ID
				, A.UPD_DTTM
				, A.REF
				, A.RESTEP
				, A.RELEVEL
			     , B.APND_FILE_SEQ
			     , B.APND_FILE_ORGN
			     , B.APND_FILE_NM
			     , B.APND_FILE_PATH	
			     , D.USER_FILE_NM
			     , D.USER_FILE_PATH
			FROM NOTI_INFO A
			    ,NOTI_APND_FILE B
			    ,NOTI_EVAL_INFO C
			    ,PSN_USER D
			WHERE A.NOTI_ID = B.NOTI_ID
			AND   A.DEL_YN = 'N'
			AND   A.BOARD_ID = 'LALALA001'
			AND   B.APND_FILE_SEQ = (SELECT MIN(APND_FILE_SEQ) FROM NOTI_APND_FILE WHERE NOTI_ID = A.NOTI_ID)
			AND   A.NOTI_ID = C.NOTI_ID
			AND   C.USER_ID = #{userId}
			AND   C.NOTI_EVAL_DIV = '003'
			AND   A.REG_ID = D.USER_ID
		]]>
			<if test="period != null and period != ''"> 
				AND  C.REG_DTTM BETWEEN (NOW() - INTERVAL #{period} DAY) AND NOW()
			</if>
			ORDER BY C.REG_DTTM DESC
			LIMIT #{fromLimit}, #{toLimit}
	</select>				
	
	<select id="listUserHistoryCnt" parameterType="lacool.contents.vo.NotiInfoVo" resultType="int">
		<![CDATA[	
			SELECT  COUNT(A.NOTI_ID) CNT
			FROM NOTI_INFO A
			    ,NOTI_APND_FILE B
			    ,NOTI_EVAL_INFO C
				,PSN_USER D
			WHERE A.NOTI_ID = B.NOTI_ID
			AND   A.DEL_YN = 'N'
			AND   A.BOARD_ID = 'LALALA001'
			AND   B.APND_FILE_SEQ = (SELECT MIN(APND_FILE_SEQ) FROM NOTI_APND_FILE WHERE NOTI_ID = A.NOTI_ID)
			AND   A.NOTI_ID = C.NOTI_ID
			AND   C.USER_ID = #{userId}
			AND   C.NOTI_EVAL_DIV = '003'
			AND   A.REG_ID = D.USER_ID
		]]>
			<if test="period != null and period != ''"> 
				AND  C.REG_DTTM BETWEEN (NOW() - INTERVAL #{period} DAY) AND NOW()
			</if>
	</select>		
	
	
	<select id="listSearch" parameterType="lacool.contents.vo.NotiInfoVo" resultType="lacool.contents.vo.NotiInfoVo">
		<![CDATA[	
			SELECT  A.NOTI_ID
				, A.BOARD_ID
				, A.CATE_ID
				, A.UP_NOTI_ID
				, A.NOTI_KIND
				, A.NOTI_TITLE
				, A.NOTI_CONTS
				, A.NOTI_URL
				, A.NOTI_OPN_DIV
				, A.FB_REG_YN
				, A.DEL_YN
				, A.STAT_CD
				, A.NOTI_READ_CNT
				, A.NOTI_OK_CNT
				, A.NOTI_NG_CNT
				, A.WRITE_IP
				, A.NOTI_BGN_DTTM
				, A.NOTI_END_DTTM
				, A.SCRAP_CNT
				, A.NOTI_OPN_CNT
				, A.REG_ID
				, CAST( DATE_FORMAT( A.REG_DTTM,'%Y-%m-%d %T' ) AS CHAR(19) ) REG_DTTM 
				, A.UPD_ID
				, A.UPD_DTTM
				, A.REF
				, A.RESTEP
				, A.RELEVEL
				, B.APND_FILE_SEQ
			     , B.APND_FILE_ORGN
			     , B.APND_FILE_NM
			     , B.APND_FILE_PATH	
			     , D.USER_FILE_NM
			     , D.USER_FILE_PATH
			     , D.USER_NM
			     , D.USER_ID
			FROM NOTI_INFO A
				,NOTI_APND_FILE B
			    ,PSN_USER D
			WHERE A.REG_ID = D.USER_ID
			AND   A.NOTI_ID = B.NOTI_ID
			AND   A.DEL_YN = 'N'
			AND   A.BOARD_ID = 'LALALA001'
			AND   B.APND_FILE_SEQ = (SELECT MIN(APND_FILE_SEQ) FROM NOTI_APND_FILE WHERE NOTI_ID = A.NOTI_ID)
		]]>
			<if test="searchKeyword != null and searchKeyword != ''"> 
				AND  A.NOTI_TITLE LIKE CONCAT('%', #{searchKeyword}, '%')
			</if>
			ORDER BY A.REG_DTTM DESC
			LIMIT #{fromLimit}, #{toLimit}
	</select>		
	
	<select id="listSearchCnt" parameterType="lacool.contents.vo.NotiInfoVo" resultType="int">
		<![CDATA[	
			SELECT  COUNT(A.NOTI_ID) CNT
			FROM NOTI_INFO A
				,NOTI_APND_FILE B
			    ,PSN_USER D
			WHERE A.REG_ID = D.USER_ID
			AND   A.NOTI_ID = B.NOTI_ID
			AND   A.DEL_YN = 'N'
			AND   A.BOARD_ID = 'LALALA001'
			AND   B.APND_FILE_SEQ = (SELECT MIN(APND_FILE_SEQ) FROM NOTI_APND_FILE WHERE NOTI_ID = A.NOTI_ID)
		]]>
			<if test="searchKeyword != null and searchKeyword != ''"> 
				AND  A.NOTI_TITLE LIKE CONCAT('%', #{searchKeyword}, '%')
			</if>
	</select>		
				
</mapper>