<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="lacool.contents.mapper.ContentsMapper">

	<insert id="insertBoardInfo" parameterType="lacool.contents.vo.BoardInfoVo">
		<selectKey keyProperty="boardId" resultType="String" order="BEFORE" >
		 SELECT CONCAT('BBS' , LPAD(CAST(REPLACE(IFNULL(MAX(BOARD_ID),0), 'BBS','') AS UNSIGNED) + 1, 6, '0')) AS boardId FROM BOARD_INFO
	     WHERE BOARD_ID LIKE 'BBS%'	     
	    </selectKey>
	  
		<![CDATA[
		INSERT INTO BOARD_INFO(
					 BOARD_ID
					, BOARD_FORM
					, DEL_YN
					, REG_ID
					, REG_DTTM
					, UPD_ID
					, UPD_DTTM
					) VALUES (
					 #{boardId}
					, #{boardForm}
					, #{delYn}
					, #{regId}
					, NOW()
					, #{updId}
					, NOW()
					)
		]]>
	</insert>

	<insert id="insertNotiInfo" parameterType="lacool.contents.vo.NotiInfoVo">
		<selectKey keyProperty="notiId" resultType="String" order="BEFORE" >
		 SELECT CONCAT('S' , LPAD(CAST(REPLACE(IFNULL(MAX(NOTI_ID),0), 'S','') AS UNSIGNED) + 1, 8, '0')) AS notiId FROM NOTI_INFO
	     WHERE NOTI_ID LIKE 'S%'	    
	    </selectKey>
	  
		<![CDATA[
		INSERT INTO NOTI_INFO(
		  NOTI_ID
		, BOARD_ID
		, CATE_ID
		, UP_NOTI_ID
		, NOTI_KIND
		, NOTI_TITLE
		, NOTI_CONTS
		, NOTI_URL
		, NOTI_OPN_DIV
		, FB_REG_YN
		, DEL_YN
		, STAT_CD
		, USER_ID
		, USER_NM
		, NOTI_READ_CNT
		, NOTI_OK_CNT
		, NOTI_NG_CNT
		, WRITE_IP
		, NOTI_BGN_DTTM
		, NOTI_END_DTTM
		, SCRAP_CNT
		, NOTI_OPN_CNT
		, REG_ID
		, REG_DTTM
		, UPD_ID
		, UPD_DTTM
		, REF
		, RESTEP
		, RELEVEL
		)VALUES (
		  #{notiId}
		, #{boardId}
		, #{cateId}
		, #{upNotiId}
		, #{notiKind}
		, #{notiTitle}
		, #{notiConts}
		, #{notiUrl}
		, #{notiOpnDiv}
		, #{fbRegYn}
		, #{delYn}
		, #{statCd}
		, #{userId}
		, #{userNm}
		, #{notiReadCnt}
		, #{notiOkCnt}
		, #{notiNgCnt}
		, #{writeIp}
		, NOW()
		, CAST( '9999-12-31 23:59:59' AS DATETIME )
		, #{scrapCnt}
		, #{notiOpnCnt}
		, #{regId}
		, NOW()
		, #{updId}
		, NOW()
		, #{ref}
		, #{restep}
		, #{relevel}	
		)
		]]>
	</insert>
	
	<insert id="insertNotiApndFile" parameterType="lacool.contents.vo.NotiApndFileVo">
		<selectKey keyProperty="apndFileSeq" resultType="String" order="BEFORE" >
		  SELECT IFNULL(MAX(APND_FILE_SEQ),0)+1 AS apndFileSeq FROM NOTI_APND_FILE	     	    
	    </selectKey>
	    <![CDATA[
			INSERT INTO NOTI_APND_FILE(
			 NOTI_ID
			, APND_FILE_SEQ
			, APND_FILE_TP
			, APND_FILE_SZ
			, APND_FILE_ORGN
			, APND_FILE_NM
			, APND_FILE_PATH
			, APND_FILE_PRE_PATH
			, APND_FILE_PRE_NM
			, DEL_YN
			, REG_ID
			, REG_DTTM
			, UPD_ID
			, UPD_DTTM
			) VALUES (
			 #{notiId}
			, #{apndFileSeq}
			, #{apndFileTp}
			, #{apndFileSz}
			, #{apndFileOrgn}
			, #{apndFileNm}
			, #{apndFilePath}
			, #{apndFilePrePath}
			, #{apndFilePreNm}
			, #{delYn}
			, #{regId}
			, NOW()
			, #{updId}
			, NOW()
			)
		]]>
	
	</insert>

	<select id="getContensDetail" parameterType="lacool.contents.vo.NotiInfoVo" resultType="lacool.contents.vo.NotiInfoVo">
		<![CDATA[	
			SELECT  NOTI_ID
				, BOARD_ID
				, CATE_ID
				, UP_NOTI_ID
				, NOTI_KIND
				, NOTI_TITLE
				, NOTI_CONTS
				, NOTI_URL
				, NOTI_OPN_DIV
				, FB_REG_YN
				, DEL_YN
				, STAT_CD
				, USER_ID
				, USER_NM
				, NOTI_READ_CNT
				, NOTI_OK_CNT
				, NOTI_NG_CNT
				, WRITE_IP
				, NOTI_BGN_DTTM
				, NOTI_END_DTTM
				, SCRAP_CNT
				, NOTI_OPN_CNT
				, REG_ID
				, REG_DTTM
				, UPD_ID
				, UPD_DTTM
				, REF
				, RESTEP
				, RELEVEL
			FROM NOTI_INFO
			WHERE NOTI_ID = #{notiId}
		]]>
	</select>
	
	<select id="getContentsFile" parameterType="lacool.contents.vo.NotiInfoVo" resultType="lacool.contents.vo.NotiApndFileVo">
		<![CDATA[	
			SELECT  NOTI_ID
					, APND_FILE_SEQ
					, APND_FILE_TP
					, APND_FILE_SZ
					, APND_FILE_ORGN
					, APND_FILE_NM
					, APND_FILE_PATH
					, APND_FILE_PRE_PATH
					, APND_FILE_PRE_NM
					, DEL_YN
					, REG_ID
					, REG_DTTM
					, UPD_ID
					, UPD_DTTM
			FROM NOTI_APND_FILE
			WHERE NOTI_ID = #{notiId}
			ORDER BY APND_FILE_SEQ
		]]>
	</select>
		

	<insert id="insertScrap" parameterType="lacool.contents.vo.UserScrapInfoVo">
	    <![CDATA[
			INSERT INTO USER_SCRAP_INFO(
			 USER_ID
			, NOTI_ID
			, REG_ID
			, REG_DTTM
			, UPD_ID
			, UPD_DTTM
			) VALUES (
			 #{userId}
			, #{notiId}
			, #{regId}
			, NOW()
			, #{updId}
			, NOW()
			)
		]]>
	</insert>
	
	<select id="getScrapInfo" parameterType="lacool.contents.vo.UserScrapInfoVo" resultType="lacool.contents.vo.UserScrapInfoVo">
		<![CDATA[	
			SELECT  A.NOTI_ID
			      , B.USER_FILE_NM
			      , B.USER_FILE_PATH
			FROM USER_SCRAP_INFO A
			    ,PSN_USER B
			WHERE A.USER_ID = #{userId}
			AND A.USER_ID = B.USER_ID
		]]>
	</select>	
	
	<select id="getScrapCnt" parameterType="lacool.contents.vo.UserScrapInfoVo" resultType="int">
		<![CDATA[	
			SELECT  COUNT(NOTI_ID)
			FROM USER_SCRAP_INFO
			WHERE USER_ID = #{userId}
		]]>
	</select>	
	
	<select id="getNotiEvalInfo" parameterType="lacool.contents.vo.NotiEvalInfoVo" resultType="lacool.contents.vo.NotiEvalInfoVo">
		<![CDATA[	
			SELECT  A.NOTI_ID
			FROM NOTI_EVAL_INFO A
			WHERE A.USER_ID = #{userId}
			AND A.NOTI_ID = #{notiId}
			AND A.NOTI_EVAL_DIV = #{notiEvalDiv}
		]]>
	</select>
	
	<insert id="insertNotiEval" parameterType="lacool.contents.vo.NotiEvalInfoVo">
	    <![CDATA[
			INSERT INTO NOTI_EVAL_INFO(
			  NOTI_ID
			, NOTI_EVAL_DIV
			, USER_ID
			, USER_NM
			, DEL_YN
			, REG_ID
			, REG_DTTM
			, UPD_ID
			, UPD_DTTM
			) VALUES (
			 #{notiId}
			, #{notiEvalDiv}
			, #{userId}
			, #{userNm}
			, #{delYn}
			, #{regId}
			, NOW()
			, #{updId}
			, NOW()
			)
		]]>
	</insert>
	
	
	<select id="getNotiEvalOfCate" parameterType="lacool.contents.vo.NotiInfoVo" resultType="lacool.contents.vo.NotiApndFileVo">
		<![CDATA[	
		SELECT A.NOTI_ID
		      ,A.APND_FILE_SEQ
		      ,A.APND_FILE_ORGN
		      ,A.APND_FILE_NM
		      ,A.APND_FILE_PATH
		      ,C.NOTI_TITLE
		FROM NOTI_APND_FILE A,
			  (SELECT A.NOTI_ID, COUNT(B.EVAL_SEQ) CNT
				FROM NOTI_INFO A
				    ,NOTI_EVAL_INFO B
				WHERE A.NOTI_ID = B.NOTI_ID
				AND A.CATE_ID = #{cateId}
				AND B.NOTI_EVAL_DIV = '001'
				GROUP BY A.NOTI_ID
				ORDER BY CNT
				LIMIT 0, 6
				) B, NOTI_INFO C
		WHERE A.NOTI_ID = B.NOTI_ID
		AND A.NOTI_ID = C.NOTI_ID
		AND A.APND_FILE_SEQ = (SELECT MIN(APND_FILE_SEQ) FROM NOTI_APND_FILE WHERE NOTI_ID = A.NOTI_ID)
		]]>
	</select>	
				
</mapper>