<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="lacool.member.mapper.UserMapper">
	
	<select id="getUser" parameterType="lacool.member.vo.UserVo" resultType="lacool.member.vo.UserVo">
		<![CDATA[	
			SELECT USER_ID
				  ,USER_NM
				  ,EMAIL
				  ,PWD
				  ,MOBILE
				  ,NATION_NM
				  ,BIRTH_YMD
				  ,SEX
				  ,USER_URL
				  ,FB_ID
				  ,MAIL_RECV_YN
				  ,END_DTTM
				  ,END_YN
				  ,USER_FILE_NM
				  ,USER_FILE_PATH
				  ,REG_ID
				  ,REG_DTTM
				  ,UPD_ID
				  ,UPD_DTTM
			FROM PSN_USER
			WHERE 1 = 1
		]]>
			<if test="userId != null and userId != ''"> 
				AND USER_ID = #{userId}
			</if>	  	   
			<if test="pwd != null and pwd != ''"> 
				AND PWD = #{pwd}
			</if>	  	   
			<if test="email != null and email != ''"> 
				AND EMAIL = #{email}
			</if>	  	
			LIMIT 1   
	</select>
	
	<insert id="insertUser" parameterType="lacool.member.vo.UserVo">
	<![CDATA[
		INSERT INTO PSN_USER(
		 USER_NM
		, EMAIL
		, PWD
		, MOBILE
		, NATION_NM
		, BIRTH_YMD
		, EMAIL_YN
		, EMAIL_DTTM
		, SEX
		, USER_URL
		, FB_ID
		, MAIL_RECV_YN
		, END_YN
		, END_DTTM
		, USER_FILE_NM
		, USER_FILE_PATH
		, REG_ID
		, REG_DTTM
		, UPD_ID
		, UPD_DTTM
		) VALUES (
		 #{userNm}
		, #{email}
		, #{pwd}
		, #{mobile}
		, #{nationNm}
		, #{birthYmd}
		, #{emailYn}
		, NULL
		, #{sex}
		, #{userUrl}
		, #{fbId}
		, #{mailRecvYn}
		, #{endYn}
		, NULL
		, #{userFileNm}
		, #{userFilePath}
		, #{regId}
		, NOW()
		, #{updId}
		, NOW()
		)
	]]>
	</insert>
	
	<update id="updateUser" parameterType="lacool.member.vo.UserVo">
	<![CDATA[
	    UPDATE PSN_USER SET UPD_ID = #{updId}, UPD_DTTM = NOW()
	]]>    
	    <if test="mobile != null and mobile != ''"> , MOBILE = #{mobile} </if>
	    <if test="birthYmd != null and birthYmd != ''"> , BIRTH_YMD = #{birthYmd} </if>
	    <if test="sex != null and sex != ''"> , SEX = #{sex} </if>
	    <if test="nationNm != null and nationNm != ''"> , NATION_NM = #{nationNm} </if>
	    <if test="userUrl != null and userUrl != ''"> , USER_URL = #{userUrl} </if>
	    <if test="fbId != null and fbId != ''"> , FB_ID = #{fbId} </if>
	    <if test="mailRecvYn != null and mailRecvYn != ''"> , MAIL_RECV_YN = #{mailRecvYn} </if>
	    <if test="mailRecvYn != null and mailRecvYn != ''"> , MAIL_RECV_YN = #{mailRecvYn} </if>
	    <if test="userFileNm != null and userFileNm != ''"> , USER_FILE_NM = #{userFileNm} </if>
	    <if test="userFilePath != null and userFilePath != ''"> , USER_FILE_PATH = #{userFilePath} </if>
	    WHERE USER_ID = #{userId}
	</update>
		
</mapper>